$app-bg: #f5f6fa !default;
$card-bg: #ffffff !default;
$card-footer-bg: #fcfdfe !default;
$card-footer-text-color: #8b95a5 !default;
$card-main-text-color: #a3a3a3 !default;
$main-app-text-color: #2c3e50 !default;
$link-text-color: #747474 !default;
$text-color-hover: #33cabb !default;
$accent-color: #fcc525 !default;